.dashboard {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}
.add_project_head {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

/* dashboard_add_project */
.dashboard_add_project {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.add_project_head {
  border-bottom: 1px solid #eaecf0;
  padding: 20px;
}
.add_project_head h3.title {
  color: #101828;
  font-size: 24px;
  font-weight: 500;
}
.add_project_form {
  padding: 20px;
}

.dasMenuBtn {
  font-size: 20px;
  display: none;
}

.upload_avater_withOld {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.upload_avater_withOld .drag_imge_input {
  margin: 0;
  width: 100%;
}

.show_old_avater img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 64px;
  max-height: 64px;
  border-radius: 50px;
}
@media (max-width: 991px) {
  .dashboard {
    margin-top: 40px;
  }
  .dasMenuBtn {
    display: block;
  }
}

/* For 767px breakpoint and smaller */
@media (max-width: 767px) {
}

/* For 576px breakpoint and smaller */
@media (max-width: 576px) {
  .two_columns {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
